{% extends "main_app/base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}

<div class="cont-contact">
  <h1>Connect with us</h1>
  <div class="social-icons">
    <a href="https://github.com" target="_blank"><i class="fab fa-github"></i>  Github</a>
    <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i>  LinkedIn</a>
    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i>  Twitter</a>
    <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i>  Instagram</a>
  </div>
</div>

{% endblock %}